<header>
    <div><a href="/">ReformBeauty</a></div>
    <nav>
        <ul>
            <% if (locals.isAuth) { %>
                <li>
                    <button>Logout</button>
                </li>
            <% } %>
        </ul>
    </nav>
</header>
