<%- include('../../shared/includes/head', { pageTitle: 'All Treatments' }) %>

</head>

<body>
<%- include('../../shared/includes/header') %>
    <main>
        <h1>All Treatments</h1>
        <p>A list of treatments...</p>
    </main>
<%- include('../../shared/includes/footer') %>